<h2>Cursos de {{ tipo_curso }}</h2>
    <div class="courses-area section-padding40 fix">
        <div class="container">
            <div class="row">
                {% for curso in cursos %}
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <a href="{% url 'detalle_curso' tipo_curso=tipo_curso curso_id=curso.id %}">
                                <div class="properties__img overlay1">
                                    <img src="{{ curso.image.url }}" alt="">
                                </div>
                                <div class="properties__caption">
                                    <p>{{ curso.type_course.name }}</p>
                                    <h3>{{ curso.name }}</h3>
                                    <p>{{ curso.description }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>