{% load static %}
{% block Nav_top %} 
    <!-- Header Start -->
    <header>
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'index'%}"><img src="{% static 'assets/img/logo/logo.png'%}" width="180px" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                                                <li><a href="{% url 'cursos' %}">Cursos</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">Programación</a></li>
                                                        <li><a href="blog_details.html">Hardware</a></li>
                                                        <li><a href="elements.html">Software</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Button -->
                                                <li><a>{{ user.username }}
                                                    {% if user.userprofile.profile_picture %}
                                                    <img src="{{ user.userprofile.profile_picture.url }}" style="margin-left:10px; border-radius: 50%; width: 40px; height: 40px;">
                                                    {% endif %}
                                                    </a>
                                                    <ul class="submenu">
                                                        <li><a href="{% url 'perfil' %}"> Perfil </a></li>
                                                        <li><a href="{% url 'edit_profile' %}"> Editar Perfil</a></li>
                                                        <li><a href="{% url 'logout' %}"> Cerrar Sesión</a></li>
                                                    </ul>
                                                </li>                                                
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>                            
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
{% endblock  %}