{% load static %}
{% block Welcome %} 

<!-- Welcome Div -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7 col-md-12">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s">¡Aprende de forma entretenida <br> y eficiente!</h1>
                                    <p data-animation="fadeInLeft" data-delay="0.4s">Con nuestros cursos de informática, transformamos el aprendizaje en una experiencia emocionante.</p>
                                </div>
                            </div>
                        </div>
                    </div> 
{% endblock  %}